.container {
  grid-row: 2;
  grid-column: 3;
  display: grid;
  grid-template-rows: 48px 1fr;
  grid-template-columns: 1fr;
}

.channelTitleBarContainer {
  grid-row: 1;
  background-color: blue;
}

.flexContainer {
  grid-row: 2;
  display: flex;
  flex-direction: row;
}

.messageViewAreaContainer {
  position: relative;
  width: 100%;
  background-color: green;
}

.messageInputContainer {
  position: absolute;
  height: 58px;
  bottom: 8px;
  left: 8px;
  right: 8px;
  background-color: red;
  border-radius: 12px;
  border-width: 1px;
  box-sizing: border-box;
}
.serverMembersContainer {
  width: 300px;
  background-color: yellow;
}
