.container {
  width: 100vw;
  height: 928px;
  color: var(--on-accent-color);
  display: grid;
  grid-template-columns: 1fr 900px;
  grid-template-rows: 480px 1fr;
  box-sizing: border-box;
  background-image: linear-gradient(180deg, #2c0101 0%, #bb0a0a 100%);
  z-index: -1;
}

.socialsContainer {
  grid-row: 1;
  grid-column: 1;
  margin-top: 80px;
  box-sizing: border-box;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}

.logoImage {
  width: 64px;
  height: 64px;
}

.languageSelector {
  box-sizing: border-box;
  position: relative;
  height: 56px;
  width: 300px;
  padding: 17px 16px 17.5px 24px;
  border-radius: 16px;
  background-color: var(--brighten);
  cursor: pointer;
}

.languageSelector .arrow {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 16px;
  top: calc(50% - 8px);
}

.socialSectionHeading {
  color: var(--on-accent-color-darker);
  margin: 0px 0px 16px 0px;
}

.socialLinkContainer {
  display: flex;
  column-gap: 30px;
}

.socialIcon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.linksContainer {
  grid-row: 1;
  grid-column: 2;
  display: flex;
  color: var(--on-accent-color);
  column-gap: 20px;
  margin-top: 100px;
}

.linksSection {
  display: flex;
  flex-direction: column;
  width: 200px;
  row-gap: 16px;
  color: var(--on-accent-color-darker);
}

.linkLabel {
  color: var(--on-accent-color);
}

.linkLabel:hover {
  text-decoration: underline;
  cursor: pointer;
}

.brandLabel {
  grid-row: 2;
  grid-column: span 2;
  display: flex;
  align-items: end;
  justify-content: center;
  font-weight: bold;
  font-size: 200px;
}
