services:

  mongo1:
    image: mongo:8.0
    container_name: mongo1
    ports:
      - "27017:27017"
    volumes:
      - mongo1-data:/data/db
    command: mongod --replSet rs0 --bind_ip_all --port 27017
    networks:
      - mongo-network


  mongo2:
    image: mongo:8.0
    container_name: mongo2
    ports:
      - "27018:27017"
    volumes:
      - mongo2-data:/data/db
    command: mongod --replSet rs0 --bind_ip_all --port 27017
    depends_on:
      - mongo1
    networks:
      - mongo-network

  mongo3:
    image: mongo:8.0
    container_name: mongo3
    ports:
      - "27019:27017"
    volumes:
      - mongo3-data:/data/db
    command: mongod --replSet rs0 --bind_ip_all --port 27017
    depends_on:
      - mongo1
    networks:
      - mongo-network

  mongo-init:
    image: mongo:8.0
    container_name: mongo-init
    depends_on:
      - mongo1
      - mongo2
      - mongo3
    volumes:
      - ./scripts/rs-init.sh:/scripts/rs-init.sh
    networks:
      - mongo-network
    entrypoint: [ "bash", "/scripts/rs-init.sh" ]

  backend:
    build: ./backend
    depends_on:
      - mongo-init
    networks:
      - mongo-network
    environment:
      - SPRING_DATA_MONGODB_URI=mongodb://mongo1:27017,mongo2:27017,mongo3:27017/strife?replicaSet=rs0
      - APP_WEBSOCKET_ALLOWED_ORIGINS=http://localhost
      - APP_CORS_ALLOWED_ORIGINS=http://localhost

  frontend:
    build: 
      context: ./frontend
      args:
        - NEXT_PUBLIC_BACKEND_API_URL=/api
        - NEXT_PUBLIC_WEBSOCKET_URL=/ws
    depends_on:
      - backend
    networks:
      - mongo-network

  gateway:
      image: nginx:stable-alpine
      container_name: gateway
      volumes:
        - ./nginx-gateway.conf:/etc/nginx/nginx.conf:ro
      ports:
        - "80:80"
      depends_on:
        - frontend
        - backend
      networks:
        - mongo-network

networks:
  mongo-network:
    driver: bridge

volumes:
  mongo1-data:
  mongo2-data:
  mongo3-data: