.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}

.form {
  background-color: var(--background-color) ;
  border-radius: 10px;
  box-sizing: border-box;
  width: 480px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
}

@media (max-width: 512px) {
  .form {
    width: 100vw !important;
    height: 100vh !important;
    border-radius: 0px;
  }
}
.form > * {
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  justify-content: center;
  align-items: center;
  color: var(--on-background-color);
}

.header > * {
  margin: 0px;
}

.inputLabel {
  color: var(--on-background-color);
  font-size: 15px;
}

.input {
  box-sizing: border-box;
  border-radius: 8px;
  padding: 12px;
  border: none;
  background-color: rgb(255, 255, 255, 0.1);
  height: 40px;
  width: 100%;
  margin-top: 8px;
  color: var(--on-background-color)
}

.inputLabel:has(~ .input:required)::after {
  content: " *";
  color: red;
  font-weight: bold;
}

.button {
  background-color: var(--accent-color);
  border: none;
  color: var(--on-accent-color);
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  height: 40px;
  width: 100%;

}

.label {
  margin-top: 4px;
  color: var(--on-background-color);
  font-size: 14px;
}

.link {
  color: var(--accent-color) !important;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}