.container {
    position: fixed;
    box-sizing: border-box;
    left: 8px;
    bottom: 8px;
    width: 359px;
    height: 58px;
    border-radius: 12px;
    border-width: 1px;
    /* background-color: var(--primary-color); */
    background-color: blue;
    color: var(--text-color);
    z-index: 100;
}