.container {
  position: fixed;
  box-sizing: border-box;
  left: 8px;
  bottom: 8px;
  width: 359px;
  height: 58px;
  border-radius: 12px;
  border-width: 1px;
  /* background-color: var(--background-color); */
  background-color: blue;
  color: var(--on-background-color);
  z-index: 100;
}
