.navCategory {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  box-sizing: border-box;
  border-radius: 12px;
  height: 40px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bold;
}

.navCategory:hover {
  background-color: var(--accent-color);
  color: var(--on-accent-color);
}

.arrow {
  width: 16px;
  height: 16px;
  transition: transform 0.2s ease-in-out;
}

.navCategory:hover .arrow {
  transform: rotate(180deg);
}

.subCategoryContainer {
  display: none;
  position: absolute;
  top: 100%;
  background-color: var(--accent-color);
  color: var(--on-accent-color);
  box-sizing: border-box;
  padding: 40px;
  border-radius: 40px;
  gap: 80px;
}

.navCategory:hover .subCategoryContainer {
  display: flex;
}

.navCategory:hover .subCategoryContainer.column {
  flex-direction: column;
  gap: 50px;
}

.subCategoryContent {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  list-style-type: none;
  padding: 0px;
  gap: 10px;
  width: max-content;
}

.subCategoryContent .heading {
  margin: 0px;
  margin-bottom: 10px;
  color: var(--on-accent-color-darker);
}

.subCategoryContainer .subCategoryContent.withSeparator::before {
  content: "";
  position: absolute;
  background-color: var(--on-accent-color);
}

.subCategoryContainer:not(.column) .subCategoryContent.withSeparator::before {
  width: 1px;
  height: 100%;
  top: 0px;
  left: -40px;
}

.subCategoryContainer.column .subCategoryContent.withSeparator::before {
  width: 100%;
  height: 1px;
  top: -25px;
  left: 0px;
}

.subCategoryLink:hover {
  color: var(--on-accent-color-dark);
  cursor: pointer;
}
