.navContainer {
  grid-row: 2;
  grid-column: 1;
}

.serverBar {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  row-gap: 8px;
  align-items: center;
}

.separator {
  width: 32px;
  height: 1px;
  background-color: var(--on-background-contrast-strong);
}

.listItem {
  list-style-type: none;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.droppable {
  position: absolute;
  width: 100%;
  height: 50%;
  top: 0;
  pointer-events: none;
}

.droppable:not(.combiner):global(.over):not(.dragging)::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  border-radius: 3px;
  top: -6px;
  background-color: var(--accent-color);
}

.droppable.combiner {
  top: 50%;
}

.droppable.combiner:global(.over):not(.dragging)::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  top: -8px;
  left: 4px;
  background-color: var(--accent-color);
}

.dragOverlay {
  height: 40px;
  width: 40px;
  background-color: var(--background-color);
  color: var(--on-background-color);
  display: flex;
  align-items: center;
  border-radius: 12px;
  justify-content: center;
  pointer-events: none;
  opacity: 0.5;
}

.draggable:global(.dragging) {
  background-color: var(--background-color);
  width: 40px;
  height: 40px;
  border-radius: 12px;
  margin-left: auto;
  margin-right: auto;
  border: 0px;
}

.draggable:global(.dragging) > * {
  display: none;
}

.navItem {
  all: unset;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  line-height: 100%;
  width: 40px;
  height: 40px;
  background-color: var(--on-background-contrast);
  border-radius: 12px;
  border: 0px;
  transition: all 0.3s, ease-in;
  color: var(--on-background-color);
  font-size: 12pt;
}

.navItem > svg {
  width: 2em;
  height: 2em;
}

.navItem.selected,
.navItem:hover {
  background-color: var(--accent-color);
  color: var(--on-accent-color)
}

.navItem::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -20px;
  height: 8px;
  width: 8px;
  border-radius: 4px;
  transition: height 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background-color: var(--on-background-color);
}

.navItem.pillHidden::after {
  visibility: hidden;
}

.navItem:hover::after {
  height: 20px;
}

.navItem.selected::after {
  height: 40px;
}

.folder {
  height: 48px;
  width: 48px;
  border-radius: 16px;
}
