.container {
  padding: 8px 16px;
  max-width: 420px;
  box-sizing: border-box;
}

.container h2 {
  margin: 8px 0px;
  font-size: 1.25rem;
}

.emptyCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  line-height: 16px;
  text-align: center;
  row-gap: 4px;
  border-radius: 8px;
  background-color: var(--on-background-contrast-weak);
}

.emptyCard h3 {
  margin: 0px;
  font-size: 1rem;
}

.emptyCard p {
  margin: 0px;
  line-height: 18px;
  font-size: 0.875rem;
  color: var(--on-background-color-muted);
}
