.container {
  display: inline-block;
  position: absolute;
  pointer-events: none;
  z-index: 1000;
}

.hidden {
  display: none;
}

.bubble {
  background-color: var(--background-color);
  position: relative;
  padding: 10px 15px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 180px;
  width: fit-content;
  word-wrap: break-word;
  box-sizing: border-box;
  border: 1px solid var(--border-highlight-color);
}

.bubble::before,
.bubble::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  z-index: 1001;
}

.up::before,
.up::after {
  bottom: 100%;
  left: 50%;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid var(--border-highlight-color);
  transform: translateX(-50%);
}
.up::after {
  border-bottom: 4px solid var(--background-color);
  transform: translate(-50%, 1px);
}

.down::before,
.down::after {
  top: 100%;
  left: 50%;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid var(--border-highlight-color);
  transform: translateX(-50%);
}
.down::after {
  border-top: 4px solid var(--background-color);
  transform: translate(-50%, -1px);
}

.left::before,
.left::after {
  right: 100%;
  top: 50%;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-right: 4px solid var(--border-highlight-color);
  transform: translateY(-50%);
}
.left::after {
  border-right: 4px solid var(--background-color);
  transform: translate(1px, -50%);
}

.right::before,
.right::after {
  left: 100%; /* Position to the right of the bubble */
  top: 50%;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid var(--border-highlight-color); /* Use CSS variable */
  transform: translateY(-50%); /* Center the tail vertically */
}
.right::after {
  border-left: 4px solid var(--background-color); /* Use CSS variable */
  transform: translate(-1px, -50%); /* Center the tail vertically */
}

.content {
  color: var(--on-background-color);
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
