.container {
  display: inline-block;
  pointer-events: none;
}

.bubble {
  background-color: var(--primary-color);
  position: relative;
  padding: 10px 15px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 180px;
  width: fit-content;
  word-wrap: break-word;
}

.bubble::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
}

.up::after {
  bottom: 100%;
  left: 50%;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid var(--primary-color);
  transform: translateX(-50%);
}

.down::after {
  top: 100%;
  left: 50%;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid var(--primary-color);
  transform: translateX(-50%);
}

.bubble.left::after {
  right: 100%;
  top: 50%;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-right: 4px solid var(--primary-color);
  transform: translateY(-50%);
}

.right::after {
  left: 100%; /* Position to the right of the bubble */
  top: 50%;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid var(--primary-color); /* Use CSS variable */
  transform: translateY(-50%); /* Center the tail vertically */
}

.content {
  color: var(--text-color);
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
