.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}

.form-container .login-form {
  background-color: black;
  width: 100%;
  max-height: 300px;
  max-width: 600px;
  border-radius: 10px;
}

.form-container .login-form > * {
  margin: 32px;
}

.form-container .registration-form {
  background-color: black;
  width: 100%;
  max-width: 400px;
  min-width: 300px;
  min-height: 600px;
  border-radius: 10px;
}

.form-container .registration-form > * {
  margin: 32px;
}

.form-container label {
  color: white;
  font-size: 15px;
}

.form-container input {
  border-radius: 5px;
  border: none;
  background-color: rgb(73, 70, 70);
  height: 40px;
  width: 100%;
}

.form-container button {
  background-color: #61dafb;
  color: black;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  height: 40px;
  width: 100%;
}

.form-container .form-group > * {
  margin-top: 10px;
}