
:root {
  --accent-color: #D00000;
  --on-accent-color: #f5d9d9;
  --on-accent-color-dark: #ffb3b3;
  --on-accent-color-darker: #ff7777;
}

[data-theme = 'light'] {
  --background-color: #ffdcdc;
  --on-background-color: #000000;
}

[data-theme = 'dark'] {
  --background-color: #200000;
  --on-background-color: #f5d9d9;
}
