
[data-theme = 'light'] {
  --primary-color: rgba(248, 183, 183, 0.253);
  --secondary-color: #D00000;
  --text-color: rgb(24, 0, 0);
}

[data-theme = 'dark'] {
  --primary-color: rgb(32, 5, 5);
  --secondary-color: #D00000;
  --text-color: rgb(245, 217, 217);
}
