
[data-theme = 'light'] {
  --primary-color: #fce3e3;
  --secondary-color: #D00000;
  --text-color: #180000;
}

[data-theme = 'dark'] {
  --primary-color: #200505;
  --secondary-color: #D00000;
  --text-color: #f5d9d9;
}
