:root {
  --accent-color: #d00000;
  --accent-color-darker: #a30000;
  --on-accent-color: #f5d9d9;
  --on-accent-color-dark: #ffb3b3;
  --on-accent-color-darker: #ff7777;
  --transparent-black: #000000bf;
  --darken-weak: #0000000d;
  --darken: #0000001a;
  --darken-medium: #00000026;
  --darken-strong: #00000033;
  --brighten-weak: #ffffff0d;
  --brighten: #ffffff1a;
  --brighten-medium: #ffffff26;
  --brighten-strong: #ffffff33;
}

[data-theme="light"] {
  --background-color: #ffdcdc;
  --on-background-color: #000000;
  --contrast-mix-color: black;
  --on-background-contrast-base: 0, 0, 0;
  --on-background-harmony-base: 255, 255, 255;
}

[data-theme="dark"] {
  --background-color: #200000;
  --on-background-color: #f5d9d9;
  --contrast-mix-color: white;
  --on-background-contrast-base: 255, 255, 255;
  --on-background-harmony-base: 0, 0, 0;
}

[data-theme] {
  --border-highlight-color: color-mix(
    in srgb,
    var(--background-color) 80%,
    var(--contrast-mix-color) 20%
  );
  --text-highlight-color: color-mix(
    in srgb,
    var(--on-background-color) 40%,
    var(--contrast-mix-color) 60%
  );
  
  --on-background-contrast-weak: rgb(var(--on-background-contrast-base), 5%);
  --on-background-contrast: rgb(var(--on-background-contrast-base), 10%);
  --on-background-contrast-medium: rgb(var(--on-background-contrast-base), 15%);
  --on-background-contrast-strong: rgb(var(--on-background-contrast-base), 20%);
  --on-background-harmony-weak: rgb(var(--on-background-harmony-base), 5%);
  --on-background-harmony: rgb(var(--on-background-harmony-base), 10%);
  --on-background-harmony-medium: rgb(var(--on-background-harmony-base), 15%);
  --on-background-harmony-strong: rgb(var(--on-background-harmony-base), 20%);
}
