.container {
  height: 100%;
  display: flex;
  align-items: center;
  column-gap: 6px;
  padding-left: 16px;
}

.newConversationButton > svg,
.container > svg {
  width: 1.5em;
  height: 1.5em;
}

.tabButtonGroup {
  display: flex;
  column-gap: 16px;
}

.tabButton {
  font-size: 1rem;
  height: 2rem;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  color: inherit;
  padding: 4px 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tabButton:last-child {
  background-color: var(--accent-color);
}

.tabButton:disabled {
  cursor: auto;
}

.tabButton.isSelected,
.tabButton.isSelected:hover {
  background-color: var(--on-background-contrast);
  color: var(--text-highlight-color);
}

.tabButton:last-child.isSelected,
.tabButton:last-child.isSelected:hover {
  background-color: color-mix(
    in srgb,
    var(--accent-color) 30%,
    transparent 70%
  );
  color: var(--accent-color);
}

.tabButton:hover {
  background-color: var(--on-background-contrast-weak);
}

.tabButton:last-child:hover {
  background-color: var(--accent-color-darker);
}

.newConversationButton {
  margin-left: auto;
  margin-right: 16px;
  font-size: inherit;
  background-color: transparent;
  color: inherit;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newConversationButton:hover {
  color: var(--text-highlight-color);
  cursor: pointer;
}
