.wrapper {
  display: flex;
  align-items: center;
}

.button {
  width: 40px;
  height: 40px;
  background-color: var(--primary-color);
  border-radius: 12px;
  margin-left: auto;
  margin-right: auto;
  border: 0px;
  transition: all 0.3s, ease-in;
  color: var(--text-color);
  font-size: 12pt;
}

.button > svg {
  width: 100%;
  height: 100%;
}

.button.selected,
.button:hover {
  background-color: var(--secondary-color);
}

.pill {
  height: 8px;
  width: 8px;
  border-radius: 4px;
  left: -4px;
  position: absolute;
  transition: height 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background-color: var(--text-color);
}

.pill.hidden {
  visibility: hidden;
}

.pill:has(+ .button:hover:not(.selected)) {
  height: 20px;
}

.pill:has(+ .selected) {
  height: 40px;
}
