.background {
  background-color: var(--transparent-black);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 500px;
  height: 600px;
  background-color: var(--background-color);
  border-radius: 16px;
  color: var(--on-background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.container > * {
  width: 100%;
}

.header {
  height: 120px;
  margin-bottom: 30px;
  box-sizing: border-box;
}

.header > * {
  width: 100%;
}

.headerTitle {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
}

.subheader {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

.scrollable {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  align-items: center;
  height: 100%;
  overflow-y: scroll;
}

.scrollable::-webkit-scrollbar {
  width: 6px;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: var(--on-background-color);
  border-radius: 3px;
}

.button {
  width: 100%;
  min-height: 60px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: color-mix(in srgb, var(--background-color) 80%, var(--contrast-mix-color) 20%);
  background-color: var(--on-background-contrast);
  padding: 0px;
  color: var(--on-background-color);
}

.button:hover {
  background-color: var(--on-background-contrast-medium);
}