.container {
  width: 500px;
  background-color: var(--background-color);
  border-radius: 16px;
  color: var(--on-background-color);
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 60px;
  box-sizing: border-box;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  overflow: hidden;
}

.container > * {
  flex-shrink: 0;
  width: 100%;
}

.container[data-selected-form="join"] > .form {
  transform: translateX(calc(-100% - 60px));
}

.header {
  margin-bottom: 30px;
  box-sizing: border-box;
  margin: 0px;
}

.header > * {
  width: 100%;
}

.headerTitle {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
}

.subheader {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 8px;
  transition: transform 0.2s ease;
}

.form > h3 {
  margin-bottom: 0px;
}
.form > label {
  align-self: flex-start;
}

.form > input {
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  background-color: var(--darken-strong);
  color: var(--on-background-color);
  border-style: solid;
  border-color: var(--border-highlight-color);
  border-radius: 10px;
  padding: 0px;
}
.form > input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.button {
  width: 100%;
  height: 60px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--border-highlight-color);
  background-color: var(--on-background-contrast);
  padding: 0px;
  color: var(--on-background-color);
}

.button:hover {
  background-color: var(--on-background-contrast-medium);
}
