.serverBar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 72px;
  background-color: var(--primary-color);
  margin: 0;
  padding: 0;
}

.serverBar > * {
  margin-top: 4px;
  margin-bottom: 4px;
}

.listItem {
  list-style-type: none;
  position: relative;
  width: 100%;
}

.droppable {
  position: absolute;
  width: 100%;
  height: 50%;
  top: 0;
  pointer-events: none;
}

.droppable:not(.combiner):global(.over):not(.dragging)::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  border-radius: 3px;
  top: -6px;
  background-color: var(--secondary-color);
}

.droppable.combiner {
  top: 50%;
}

.droppable.combiner:global(.over):not(.dragging)::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  top: -8px;
  left: 4px;
  background-color: var(--secondary-color);
}

.dragOverlay {
  height: 40px;
  width: 40px;
  background-color: var(--primary-color);
  color: var(--text-color);
  display: flex;
  align-items: center;
  border-radius: 12px;
  justify-content: center;
  pointer-events: none;
  opacity: 0.5;
}

.draggable:global(.dragging) {
  background-color: var(--primary-color);
  width: 40px;
  height: 40px;
  border-radius: 12px;
  margin-left: auto;
  margin-right: auto;
  border: 0px;
}

.draggable:global(.dragging) > * {
  display: none;
}

.folder {
  height: 48px;
  width: 48px;
  border-radius: 16px;
}
