
.serverBar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 72px;
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;
}

.serverBar > * {
    margin-top: 4px;
    margin-bottom: 4px;
}

.listItem {
    list-style-type: none;
    width: 100%;
}

.droppableZone {
    display: none;
    width: 100%;
    height: 50%
}

.droppableZone.Combine {
    transform: translateY(50%);
}