.container {
  height: 100vh;
  width: 100vw;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  position: relative;
  height: 50px;
  line-height: 50px;
  width: 300px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.2em;
  color: var(--on-background-color);
}

.loader::before,
.loader::after {
  content: "";
  position: absolute;
  background-color: var(--accent-color);
  left: 0px;
  height: 25px;
  width: 25px;
  animation: oscillate 1s infinite alternate ease-in-out;
}

.loader::before {
  top: 0px;
  transform-origin: top;
}

.loader::after {
  bottom: 0px;
  transform-origin: bottom;
}

@keyframes oscillate {
  0% {
    left: 0px;
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.7, 0.3);
  }

  100% {
    transform: scale(1, 1);
    left: calc(100% - 25px);
  }
}
